*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

html,
body{
	height: 100%;
	background-color: #d9d9d9;
}

body{
	margin: 0px;
	display: flex;
	width: 100%;
	flex-direction: column;
}

main{
	flex: 1 0 auto;
	margin: 0 auto;
	padding: 20px 40px;
	max-width: 1000px;
	width: 100%;
	background-color: white;
}

.header-text-24pt{
	padding-bottom: 20px;
	font-size: 24pt;
	font-weight: bold;
}

section{
	margin-top: 30px;
}

.header-text-18pt{
	padding: 0px 0px;
	font-size: 18pt;
	font-weight: bold;
	color: black;
}
.hover-text:hover{
	color: #87433c;
}

.container{
	display: flex;
	justify-content: space-between;
}

.column{
	width: 45%;

}

.text-normal-18pt{
	font-size: 18pt;
	color: black;
}

.text-normal{
	font-size: 14pt;
	color: black;
}

.text-center{
	text-align: center;
}

.column-center{
	padding-top: 70px;
}

