{% extends "base.html" %}

{% block title %}Drunky - account{% endblock %}

{% block main %}
    <img src="{{ MEDIA_URL }}{{ account.photo }}"/>
    <p>Username: {{ account.username }}</p>
    <p>Email: {{ account.email }}</p>
    <p>Password: </p>

    {% if favouriteDrinks.count > 0 %}
        <a href="/drinks/?search=&sort=None&Favourites=on"><p class="header-text-18pt hover-text">Favourite Drinks</p></a>
        <div class="main-container" style="width: 100%; justify-content: space-around;">
            {% for product in favouriteDrinks %}
                <a href="kek">
                    <div class="product-container">
                        <div class="product-image"
                             style="background-image: url({{ MEDIA_URL }}{{ product.images }});"></div>
                        <div class="product-description">
                            <p class="product-name">{{ product.name }}</p>
                            <p class="product-rating">{{ product.likes }} likes</p>
                            <p class="product-rating">{{ product.comments.count }} comments</p>
                        </div>

                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="header-text-18pt">Favourite Drinks</p>
        <p class="text-normal">You don`t have favourite drinks! <a href="/choose_drinks/" class="hover-text">Add
            some!</a></p>
    {% endif %}

    {% if favouriteCocktails.count > 0 %}
        <a href="drinks.html"><p class="header-text-18pt hover-text">Favourite Cocktails</p></a>
        <div class="main-container" style="width: 100%; justify-content: space-around;">
            {% for product in favouriteCocktails %}
                <a href="kek">
                    <div class="product-container">
                        <div class="product-image"
                             style="background-image: url({{ MEDIA_URL }}{{ product.images }});"></div>
                        <div class="product-description">
                            <p class="product-name">{{ product.name }}</p>
                            <p class="product-rating">{{ product.likes }} likes</p>
                            <p class="product-rating">{{ product.comments.count }} comments</p>
                        </div>

                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="header-text-18pt">Favourite Cocktails</p>
        <p class="text-normal">You don`t have favourite cocktails! <a href="/choose_cocktails/" class="hover-text">Add
            some!</a></p>
    {% endif %}

    {% if favouriteBars.count > 0 %}
        <a href="drinks.html"><p class="header-text-18pt hover-text">Favourite Bars</p></a>
        <div class="main-container" style="width: 100%; justify-content: space-around;">
            {% for product in favouriteBars %}
                <a href="kek">
                    <div class="product-container">
                        <div class="product-image"
                             style="background-image: url({{ MEDIA_URL }}{{ product.images }});"></div>
                        <div class="product-description">
                            <p class="product-name">{{ product.name }}</p>
                            <p class="product-rating">{{ product.likes }} likes</p>
                            <p class="product-rating">{{ product.comments.count }} comments</p>
                        </div>

                    </div>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p class="header-text-18pt">Favourite Bars</p>
        <p class="text-normal">You don`t have favourite bars! <a href="/choose_bars/" class="hover-text">Add
            some!</a></p>
    {% endif %}
{% endblock %}