{% extends "base.html" %}

{% block title %}Drunky - {{ product_name }}{% endblock %}

{% block main %}
    <p class="header-text-24pt">{{ product_name }}</p>
    <section>
        {% if recommended_products.count > 0 %}
            <p class="header-text-18pt"><a href="drinks.html">Recommended {{ product_name }}</a></p>
            <div class="main-container" style="width: 100%; justify-content: space-around;">
                {% for product in recommended_products %}
                    <a href="{% url product_url_detail product.id %}">
                        <div class="product-container">
                            <div class="product-image"
                                 style="background-image: url({{ MEDIA_URL }}{{ product.images }});"></div>
                            <div class="product-description">
                                <p class="product-name">{{ product.name }}</p>
                                <p class="product-rating">{{ product.likes }} likes</p>
                                <p class="product-rating">{{ product.comments.count }} comments</p>
                            </div>

                        </div>
                    </a>

                {% endfor %}
            </div>
        {% endif %}
        {% if popular_products.count > 0 %}
            <p class="header-text-18pt"><a href={{"/popular_"|add:product_name|lower}}>Popular {{ product_name }}</a></p>
            <div class="main-container" style="width: 100%; justify-content: space-around;">
                {% for product in popular_products %}
                    <a href="{% url product_url_detail product.id %}">
                        <div class="product-container">
                            <div class="product-image"
                                 style="background-image: url({{ MEDIA_URL }}{{ product.images }});"></div>
                            <div class="product-description">
                                <p class="product-name">{{ product.name }}</p>
                                <p class="product-rating">{{ product.likes }} likes</p>
                                <p class="product-rating">{{ product.comments.count }} comments</p>
                            </div>

                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}

            <p class="header-text-18pt"><a href={{"/"|add:product_name|lower}}>All {{ product_name }}</a></p>
            <div class="main-container" style="width: 100%; justify-content: space-around;">
                {% for product in all_products %}
                    <a href="{% url product_url_detail product.id %}">
                        <div class="product-container">
                            <div class="product-image"
                                 style="background-image: url({{ MEDIA_URL }}{{ product.images }});"></div>
                            <div class="product-description">
                                <p class="product-name">{{ product.name }}</p>
                                <p class="product-rating">{{ product.likes }} likes</p>
                                <p class="product-rating">{{ product.comments.count }} comments</p>
                            </div>

                        </div>
                    </a>
                {% endfor %}
            </div>

    </section>
{% endblock %}