<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/drop-down.css' %}">
    <script type="text/javascript" src="{% static 'js/dropdown_menu.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Pacifico|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <nav class="menu">
        <ul class="nav-container">
            <li><a href="/" class="nav-button logo">Drunky</a></li>
            <li><a href="/choose_drinks/" class="nav-button">Drinks</a></li>
            <li><a href="/cocktails" class="nav-button">Coctails</a></li>
            <li><a href="/bars" class="nav-button">Bars</a></li>
            <li><a href="/about" class="nav-button">About</a></li>
        </ul>

        <ul class="nav-container-aside-right">
            {% load staticfiles %}

            {% if auth %}
                <li><a href="/account" class="nav-button">Account</a></li>
                <li><a href="/exit" class="nav-button">Exit</a></li>
            {% else %}
                <img src="{% static 'images/baseline_input_white_24dp.png' %}">
                <li><a href="/login" class="nav-button">Log in</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    {% block main %}{% endblock %}
</main>
<footer>
    <div class="footer-menu">
        <nav class="vertical-nav">
            <ul>
                <li><a href="/" class="nav-link logo">Drunky</a></li>
                <li><a href="/choose_drinks" class="nav-link">Drinks</a></li>
                <li><a href="/cocktails" class="nav-link">Coctails</a></li>
                <li><a href="/bars" class="nav-link">Bars</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
            </ul>
        </nav>
        <div class="social-links">
            <p>Get our app</p>
            <a href="https://www.apple.com/ios/app-store/"><img src="https://png.icons8.com/material/50/000000/apple-app-store.png"></a>
            <a href="https://play.google.com/"><img src="https://png.icons8.com/material/50/000000/google-play.png"></a>
        </div>
        <div class="creator">
            <p>Created by</p>
            <a href="" class="nav-link underlined-link">MrFlyingChip Studios</a>
        </div>
    </div>
</footer>
</body>
</html>